<div data-role="page">
  <%= render 'layouts/header' %>
  <div data-role="content">
    <h2>End Reservation Early</h2>
    <p><%= @reservation[:id] %><br /></p>
	<p><b>Location: </b><%= @reservation[:location] %><br /></p>
	<p><%= @reservation[:estimate] %><br /></p>

    <p><b>Current Start Time: </b><%= @start_time_string %></p>
	<p><b>Current End Time: </b><%= @end_time_string %></p>
	
	<%= form_tag reservation_early_path(:id => @reservation[:id]), method: 'get' do %>
    <label for="end-date"><b>New End time: </b></label> 
 	<select name="end_date" id="end_date" data-mini="true">  
 	  <% (@date..(@date + 2.months)).each do |day| %> 
 	  <option value= <%= day %>>   
 	    <% if day == Date.current %> 
 	      Today  
 	    <% elsif day == Date.current + 1.day %> 
 	      Tomorrow 
 	    <% else %> 
 	      <%= day.strftime("%a %d %B, %Y") %>  
 	    <% end %> 
 	  </option> 
 	<% end %> 
 	</select> 
 	<%= select_tag "end_time", options_for_select(@times, :selected => time_to_next_quarter_hour((Time.now).strftime("%I:%M %p"))), { "data-mini" => "true" } %>  
	<%= submit_tag "End Early", class: "form_submit" %>
	<% end %>
	<%= @result %>
	<br>
  <%= render 'layouts/footer' %>
  </div>
</div>