<div data-role="page" id="one" data-theme="b" data-content-theme="b">
    <%= render 'layouts/header' %>
    <div data-role="content">
        <h2>Edit Reservation</h2>
  	   
		<%@start_time =  Time.at(@reservation[:start_time].to_i).strftime("%I:%M %p %d/%m/%Y")%>
		<%@end_time =  Time.at(@reservation[:end_time].to_i).strftime("%I:%M %p %d/%m/%Y")%>
		<p><b>Location: </b><%= @reservation[:location] %></p>
		<p><b>Start Time: </b> <%= @start_time%> </p>
		<p><b>End Time: </b> <%= @end_time%> </p>

		<%= form_tag reservation_editsubmit_path(:id => @reservation[:id]), method: 'post' do %>

		<label for="start-date">Start time:</label>
		<%= select_tag "start_date", options_for_select(@date_options, :selected => (Time.at(@reservation[:start_time].to_i)).strftime("%a %d %B, %Y")), { "data-mini" => "true" } %>
        <%= select_tag "start_time", options_for_select(@times, :selected => (Time.at(@reservation[:start_time].to_i).strftime("%I:%M %p"))), { "data-mini" => "true" } %> 
        
   	    <label for="end-date">End time:</label>
		<%= select_tag "end_date", options_for_select(@date_options, :selected => (Time.at(@reservation[:end_time].to_i)).strftime("%a %d %B, %Y")), { "data-mini" => "true" } %>
        <%= select_tag "end_time", options_for_select(@times, :selected => (Time.at(@reservation[:end_time].to_i).strftime("%I:%M %p"))), { "data-mini" => "true" } %> 

        <%= submit_tag "Submit", class: "form_submit" %>
        <%= link_to "Back", reservation_view_path(:id => @reservation[:id]), { "data-role" => "button", "data-transition" => "slide", "data-prefetch" => "true"} %>
		<% end %>
    </div>
    <%= render 'layouts/footer' %>
</div>
