<div data-role="page" id="one" data-theme="b" data-content-theme="b">
    <%= render 'layouts/header' %>
    <div data-role="content">
        <h2>Edit Reservation</h2>
  	   
		<%@start_time =  Time.at(@reservation[:start_time].to_i).strftime("%I:%M %p %d/%m/%Y")%>
		<%@end_time =  Time.at(@reservation[:end_time].to_i).strftime("%I:%M %p %d/%m/%Y")%>
		<p><b>Location: </b><%= @reservation[:location] %></p>
		<p><b>Current Start Time: </b> <%= @start_time%> </p>
		<p><b>Current End Time: </b> <%= @end_time%> </p>

		<%= form_tag reservation_edit_path(:id => @reservation[:id]), method: 'get' do %>
      <fieldset data-role="controlgroup" data-mini="true">
        <legend><b>New Start Time:</b></legend>
      	    <select name="start-date" id="start-date" data-mini="true"> 
      			<% (@date..(@date + 2.months)).each do |day| %>
      			<option value= <%= day %>>  
      				<% if day == Date.current %>
      					Today 
      				<% elsif day == Date.current + 1.day %>
      					Tomorrow
      				<% else %>
      					<%= day.strftime("%a %d %B, %Y") %> 
      				<% end %>
      			</option>
      			<% end %>
      		</select>

          <%= select_tag "start-time", options_for_select(@times, :selected => time_to_next_quarter_hour(Time.now.strftime("%I:%M %p"))), { "data-mini" => "true" } %> 
      </fieldset>

      </br>
      <fieldset data-role="controlgroup" data-mini="true">
        <legend><b>New End Time:</b></legend>
        <div data-role="controlgroup" data-mini="true">
     	    <label for="end-date">End time:</label>
    	    <select name="end-date" id="end-date" data-mini="true"> 
    			<% (@date..(@date + 2.months)).each do |day| %>
    			<option value= <%= day %>>  
    				<% if day == Date.current %>
    					Today 
    				<% elsif day == Date.current + 1.day %>
    					Tomorrow
    				<% else %>
    					<%= day.strftime("%a %d %B, %Y") %> 
    				<% end %>
    			</option>
    			<% end %>
    	    </select>  

          <%= select_tag "end-time", options_for_select(@times, :selected => time_to_next_quarter_hour((Time.now + 15.minutes).strftime("%I:%M %p"))), { "data-mini" => "true" } %> 
          <% end %>
      </fieldset>

      <br>
      
      <div data-role="controlgroup" data-type="horizontal" data-mini="true">
          <%= link_to "Back", reservation_view_path(:id => @reservation[:id]), { "data-role" => "button", "data-transition" => "slide", "data-prefetch" => "true"} %>
          <%= submit_tag "Submit", class: "form_submit" %>
      </div>

    </div>
    <%= render 'layouts/footer' %>
</div>
