<div data-role="page" data-theme="b" data-content-theme="b">
	<%= render 'layouts/header' %>
	<div data-role="content">
		<h2>Extend Reservation</h2>
		<p><%= @reservation[:id] %><br /></p>
		<p><b>Location: </b><%= @reservation[:location] %><br /></p>
		<p><%= @reservation[:estimate] %><br /></p>

		<p><b>Current Start Time: </b><%= @start_time_string %></p>
		<p><b>Current End Time: </b><%= @end_time_string %></p>
    
		<%= form_tag reservation_extendsubmit_path(:id => @reservation[:id]), method: 'post' do %>

		<fieldset data-role="controlgroup" data-mini="true">
        	<legend><b>New End time: </b></legend>
			<select name="end_date" id="end_date" data-mini="true">  
				<% (@date..(@date + 2.months)).each do |day| %> 
				<option value= <%= day %>>  
					<% if day == Date.current %> 
					  Today  
					<% elsif day == Date.current + 1.day %> 
					  Tomorrow 
					<% else %> 
					  <%= day.strftime("%a %d %B, %Y") %>   
					<% end %>
				</option> 
				<% end %> 
			</select> 
			
			<%= select_tag "end_time", options_for_select(@times, :selected => (@end_time + 15.minutes).strftime("%I:%M %p")), { "data-mini" => "true" } %>  
			<% end %>
		</fieldset>
		<br>
		<div data-role="controlgroup" data-type="horizontal" data-mini="true">
			<%= link_to "Back", reservation_view_path(:id => @reservation[:id]), { "data-role" => "button", "data-transition" => "slide", "data-prefetch" => "true" } %>
			<%= submit_tag "Extend", class: "form_submit" %>
		</div>
		<br>
    </div>
    <%= render 'layouts/footer' %>
</div>