<div data-role="page" data-theme="b" data-content-theme="b">
	<%= render 'layouts/header' %>
	<div data-role="content">
		<h2>Extend Reservation</h2>
		<p><%= @reservation[:id] %><br /></p>
		<p><b>Location: </b><%= @reservation[:location] %><br /></p>
		<p><%= @reservation[:estimate] %><br /></p>

		<p><b>Current Start Time: </b><%= @start_time_string %></p>
		<p><b>Current End Time: </b><%= @end_time_string %></p>
    
		<%= form_tag reservation_extendsubmit_path(:id => @reservation[:id]), method: 'post' do %>
		<label for="end-date"><b>New End time: </b></label> 
		
		<%= select_tag "end_date", options_for_select(@date_options, :selected => (Time.at(@reservation[:end_time].to_i)).strftime("%a %d %B, %Y")), { "data-mini" => "true" } %>
        <%= select_tag "end_time", options_for_select(@times, :selected => (Time.at(@reservation[:end_time].to_i).strftime("%I:%M %p"))), { "data-mini" => "true" } %>
		
		<%= submit_tag "Extend", class: "form_submit" %>
		<% end %>
		<%= link_to "Back", reservation_view_path(:id => @reservation[:id]), { "data-role" => "button", "data-transition" => "slide", "data-prefetch" => "true" } %>
		<br>
    </div>
    <%= render 'layouts/footer' %>
</div>