<div data-role="page" data-url="<%= request.path %>">
  <%= render 'layouts/header' %>
  <div data-role="content">
    <% if !@current.nil? %>
      <div data-role="collapsible" data-collapsed="true" data-theme="b" data-content-theme="d">
        <h4>Current Reservation</h4>
        <ul data-role="listview">
          <li><%= link_to @current[:id] + " - " + @current[:start_time].strftime("%l:%M%P") + " - " + @current[:end_time].strftime("%l:%M%P"), reservation_view_path(:id => @current[:id]), { "data-transition" => "slide", "data-ajax" => "false" }  %>
          </li>
        </ul>
      </div>
    <% else %>
      <p>You have no current reservation.</p>
    <% end %>

    <% if !@future.nil? %>
      <div data-role="collapsible" data-collapsed="true" data-theme="b" data-content-theme="d">
        <h4>Future Reservations</h4>
        <ul data-role="listview">
        <% @future.each do |future| %>
          <li><%= link_to future[:id] + " - " + " " + future[:start_time].strftime("%l:%M%P %b %d") + " to " + future[:end_time].strftime("%l:%M%P %b %d"), reservation_view_path(:id => future[:id]), { "data-transition" => "slide", "data-ajax" => "false" } %>
          </li>
        <% end %>
        </ul>
    </div>
    <% else %>
      <p>You have no future reservations.</p>
    <% end %>     
  </div>
  <%= render 'layouts/footer' %> 
</div>