<!-- <h1>You have signed in</h1> -->
<div class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 col-lg-offset-3">
      <%=  button_to "Book my car", myCar_path, class: "btn btn-lg btn-primary btn-block", method:"get" %><br />
      <%=  button_to "Make new reservation", newReservation_path, class: "btn btn-lg btn-primary btn-block", method:"get" %><br />
      <%=  button_to "Manage Reservations", manageReservations_path, class: "btn btn-lg btn-primary btn-block", method:"get" %><br />
	  <%=  button_to "View Profile", profile_path, class: "btn btn-lg btn-primary btn-block", method: "get" %><br />
	  <%=  button_to "Contact Us", contact_path, class: "btn btn-lg btn-primary btn-block", method:"get" %>
    </div>
  </div>
</div>


