  <div class="container">
    <div class="row">

      <div class="col-12 col-lg-6 col-lg-offset-3">
        <h3>Current Reservation</h3>
        <% if !@current.nil? %>
          <table class="table">
            <tr>
              <td><b>Reservation</b></td>
              <td><b>Start</b></td>
              <td><b>End</b></td>
            <!--  <td>Location</td>
              <td>Status</td>
              <td>Vehicle ID</td> -->
              <td><b>Estimate</b></td>
            </tr>
            <tr>
              <td><%= @current[:id] %></td>
              <td><%= @current[:start_time].strftime("%l:%M%P %d/%m") %></td>
              <td><%= @current[:end_time].strftime("%l:%M%P %d/%m") %></td>              
             <!-- <td><%= @current[:location] %></td>
              <td><%= @current[:status] %></td>              
              <td><%= @current[:vehicle_id] %></td> -->
              <td><%= @current[:estimate] %></td>
            </tr>
          </table>
        <% else %>
          <p>You have no current reservation.</p>
        <% end %>
        <h3>Future Reservations</h3>
        <% if !@future.nil? %>
          <table class="table table-hover table-condensed">
            <tr>
              <td><b>Reservation</b></td>
              <td><b>Start</b></td>
              <td><b>End</b></td>
             <!-- <td>Location</td> -->
             <!-- <td>Status</td> -->
             <!-- <td>Vehicle ID</td> -->
              <td><b>Estimate</b></td>
            </tr>
            <% @future.each do |future| %>
              <tr>
                <td><%= future[:id] %></td>
               <!-- <td><%= future[:location] %></td> -->
               <!-- <td><%= future[:status] %></td>  -->            
               <!-- <td><%= future[:vehicle_id] %></td> -->
                <td><%= future[:start_time].strftime("%l:%M%P %d/%m") %></td>
                <td><%= future[:end_time].strftime("%l:%M%P %d/%m") %></td>
                <td><%= future[:estimate] %></td>
              </tr>
            <% end %>
          </table>
        <% else %>
          <p>You have no future reservations.</p>
        <% end %>
    </div>
  </div>
</div>
