  <div class="container">
    <div class="row">

      <div class="col-12 col-lg-6 col-lg-offset-3">
        <h3>Current Reservation</h3>
        <% if !@current.nil? %>
          <table class="table table-condensed">
            <tr>
              <td><b>Reservation</b></td>
              <td><b>Start</b></td>
              <td><b>End</b></td>
              <td><b>Estimate</b></td>
            </tr>
            <tr>
              <td><%= form_tag reservation_view_path do %>
                <%= hidden_field_tag "id", @current[:id] %>
                <%= submit_tag @current[:id], class: "btn btn-default" %></td>
              <% end %>
              <td><%= @current[:start_time].strftime("%l:%M%P %d/%m") %></td> 
              <td><%= @current[:end_time].strftime("%l:%M%P %d/%m") %></td>   
              <td><%= @current[:estimate] %></td>
            </tr>
          </table>
        <% else %>
          <p>You have no current reservation.</p>
        <% end %>
        <h3>Future Reservations</h3>
        <% if !@future.nil? %>
          <table class="table table-condensed">
            <tr>
              <td><b>Reservation</b></td>
              <td><b>Start</b></td>
              <td><b>End</b></td>
              <td><b>Estimate</b></td>
            </tr>
            <% @future.each do |future| %>
              <tr>
                <td><%= form_tag reservation_view_path do %>
                <%= hidden_field_tag "id", future[:id] %>
                <%= submit_tag future[:id], class: "btn btn-default" %></td>
                <% end %>
                <td><%= future[:start_time].strftime("%l:%M%P %d/%m") %></td>
                <td><%= future[:end_time].strftime("%l:%M%P %d/%m") %></td>
                <td><%= future[:estimate] %></td>
              </tr>
            <% end %>
          </table>
        <% else %>
          <p>You have no future reservations.</p>
      <% end %>
    </div>
  </div>
</div>

