<div data-role="page">
  <%= render 'layouts/header' %>
  <div data-role="content">
    <%= @start_date %>
    <%= @start_time %>
    <%= @end_date %>
    <%= @end_time %>
    <%= @vehicles %>
    <%= @amenities %>
    <%= @start_date_time %>
    <p> Make reservation:</p>

  </div>
  <%= render 'layouts/footer' %>
</div>