<div data-role="page">
  <%= render 'layouts/header' %>
  <div data-role="content">
    <%= @start_date %>
    <%= @start_time %>
    <%= @end_date %>
    <%= @end_time %>
    <%= @vehicles %>
    <%= @amenities %>
    <%= @start_date_time %>
    <p> Make reservation:</p>
    <%= @res %>
    <%= form_tag('/book', method: 'post') %>
      <%= hidden_field_tag 'start_date_time',  @start_date_time %>
      <%= hidden_field_tag 'end_date_time',  @end_date_time %>
    <%= submit_tag 'Book' %>

  </div>
  <%= render 'layouts/footer' %>
</div>