<nav class="navbar navbar-inverse" role="navigation">
  <div class="navbar-header">   
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Car Next Door</a>
  </div>
    <!-- Place everything within .nav-collapse to hide it until above 768px -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <% if logged_in? %>
        <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
        <li class="<%= 'active' if current_page?(reservation_path) %>"><%= link_to "Reservations", reservation_path %></li>
        <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
		  <% end %>
    </ul>
  </div><!-- /.nav-collapse -->
</nav>